html, body {
	font-family: Tahoma, Arial; 
	margin-left:8%; 
    margin-top: 2%;	
	background: #333333;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 400;
}

a {
    margin:0px;
    padding:0px;
	color: #0099CC; 
    outline: 0;
}

a:hover, a:focus {    
	text-decoration: none;
	color: #333333;
}
a:active, a:focus {
	color: #0099CC;
	border: none;
}



/*Header*/
.header {
	height: 95px;
    width: 915px;
    padding:0px;
    background: rgba(0,0,0,.50);
    border-radius:5px 7px;
}

.header h1{
    margin:15px 0px 0px 55px;
    line-height:60px;
}

.header h3{
    margin: 5px 0px 0px 95px;
    line-height: 0px;
    text-shadow: 5px 5px 5px #0099CC;
}

.titlebox{
    width:500px;
    float: left;
}

.loginbox{
    margin-right: 7px;
    float: right;
    text-align: right;
}

/*Home Page Table*/

.menucontainer{    
    width:100%;
    margin: 0px 0px 0px 5px;
    background: rgba(0,0,0,.75);
}

.column{
    margin-top: 4px;
    float:left;
    width:20%;
    box-sizing:border-box;
}

.horizImg{   
    width:220px;
    height:137px;
    border-radius:5px 7px;
}

.vertImg{    
    width:220px;
    height:275px;
    border-radius:5px 7px;
}

.menudiv{    
    margin: -16px 0px -16px 0px;
    color:#0099CC;
    background-color:#CCCC00 ;
    border-radius:5px 7px;
    width:220px;
    height:137px;
    text-align:center;    
    line-height:147px;
}

.menudiv :hover, :focus {
	text-decoration: none;
	background-color: #333333;
}

