html{
    height:1150px;
    background: -webkit-linear-gradient(top ,#050505, #1C1C1C);
    background: -o-linear-gradient(top, #050505, #1C1C1C);
    background: -moz-linear-gradient(top, #050505, #1C1C1C);
    background: -ms-linear-gradient(top, #050505, #1C1C1C);
    overflow: hidden auto; 
}

body {
	font-family: Tahoma, Arial; 
	margin-left:8%; 
    margin-top: 2%;	  
	font-size: 16px;  
    overflow:hidden auto;
    color:yellow;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 400;
    color:#B4B8BF;
}

a {
    margin:0px;
    padding:0px;
	color: #0099CC; 
    outline: 0;
}

a:hover, a:focus {    
	text-decoration: none;
	color: #333333;
}
a:active, a:focus {
	color: #0099CC;
	border: none;
}

.button {
   border: 1px solid #CCCC00;
   background: #D6C965;
   background: -webkit-gradient(linear, left top, left bottom, from(#CCCC00), to(#CC8100));
   background: -webkit-linear-gradient(top, #CCCC00, #CC8100);
   background: -moz-linear-gradient(top, #CCCC00, #CC8100);
   background: -ms-linear-gradient(top, #CCCC00, #CC8100);
   background: -o-linear-gradient(top, #CCCC00, #CC8100);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #1A1703;
   font-size:10px;
   font-family:Tahoma, Arial;
   font-weight:normal;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {   
   background: #785F28;
   color: #cccccc;
   }
.button:active {
   background: #5C541B;
   }

ul{
    position: relative;  
    width: 100%;  
    margin: 0;  
}

li{  
    padding: 0;  
    list-style: none;  
    list-style-type: none;  
}  


.guideline{
    width:850px;
    font-size:large;
    text-wrap:normal;
}

.testWrapper{
    width:1150px;
    height:600px;
}

/*Header*/
.header {
	height: 105px;
    width: 1075px;    
    font-weight: 400;
    padding:0px;
    border-radius:5px 7px;
    box-shadow: rgba(5,40,50,.75) 0px 0px 15px;
}

.titlebox{
    margin: 0px;
    width:500px;
    height:95px;
    float: left;
    box-sizing:border-box;
    overflow:hidden auto;
}

#logo{
    position:absolute;
    margin:5px;
    width:90px;
    height:95px;
}

.header h1{
    color: #0099CC; 
    margin:0px 0px 0px 110px;
    line-height:60px;  
}

.header h3{
    color: #0099CC; 
    margin: 5px 0px 0px 110px;
    line-height: 0px;
    text-shadow: 5px 5px 5px #0099CC;    
}

/*Category Divs*/


.initialScreen{
    margin: 27px 7px 7px 7px;   
}


.catOuterBox{
    height: 200px;
    width: 1250px;
}

.catDiv{    
    margin: 10px 10px 10px 10px;
    color:#5CC9ED;    
    font-size:20px;
    text-shadow: 0px 0px 2px black, 3px 10px 10px #044C63; 
    background-color:#CCCC00 ;
    border-radius:4px 6px;
    width:18%;
    float:left;
    box-sizing:border-box;
    height:132px;
    text-align:center;    
    line-height:132px;
    padding:0px;
}

.catDiv figcaption{
    width:17.25%;
    height:132px;
    background: rgba(0,0,0,0.8);
    color: white;
    display:run-in;
    opacity: 0;
    position: absolute;
    top: 10px;
    z-index: 100;
}

.catDiv figcaption p {
    margin:5px; padding:0px;
    text-align:left;
    line-height:16px;
    font-size:small;
    position: relative;
}

.catDiv:hover{    
	background-color: #050505;
    outline: 1px solid #CCCC00; 
    box-shadow: rgba(15,40,50,1) 1px 1px 25px;
}

.catDiv:hover figcaption{
    opacity: 1;
}

.catPrev{
    background-image:url(/images/LeftArrow.png);
    background-position:center;
    background-repeat:no-repeat;
    height:33px;
    width: 45px;
    float: left;
    margin-top:60px;
    margin-left:-35px;    
}

.catNext{
    height:33px;
    width: 45px;
    float: right;
    margin-top:60px;
    margin-right:155px;
    background-image:url(/images/RightArrow.png);
    background-position:center;
    background-repeat:no-repeat;
}

/*Mode Screen*/
#modeScreen{
    display: none;
}

#modeButton{
    margin: 15px;
}

.ddSelects{
    margin: 10px 10px 10px 20px;
    color:#024B63;    
    font-size:20px;
    text-shadow: 0px 0px 2px black, 3px 10px 10px #044C63; 
    background-color:#CCCC00 ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:2px;
    width:18%;
    float:left;
    box-sizing:border-box;
    text-align:center;    
}




/*Main Content - Questions and Answers*/

#test{
    display: none;
}

#testPrep{
    display: none;
}

.questionAnswerWrapper{
    margin-top:10px;
    float:left;
    width: 770px;
    height: 460px;
    background:black;
    box-shadow: rgba(0,12,35,.75) 0px 0px 25px;
    border-radius: 15px 15px;
    font-size:16px;
}

.questionBox{
    float:left;
    background: #292929; 
    border-radius: 15px 15px;
    width:340px;
    height:370px;   
    color:#ABACB3;
    text-shadow:2px 2px #0F0E1C; 
    margin:20px 2px 10px 15px;
}

.questionBox:hover{
    float:left;
    background: #5E5E5E; 
    border-radius: 15px 15px;
    width:340px;
    height:370px;   
    color:#ABACB3;
    text-shadow:2px 2px #0F0E1C; 
    margin:20px 2px 10px 15px;
}

.questionBox h2, h3{
    margin:20px;
    text-align:justify;
}

.questionBox h3{
    font-size:20px; 
    text-decoration:underline;
    color:#0099CC;
}

.buttonBox{
    margin:0px;
    float:none;
    width: 340px;
    height: 100px;
    font-size: 12px;   
}

.prevButton{
    margin: 10px 0px 5px 25px;
    border: 1px solid #CCCC00;
    background: #D6C965;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCC00), to(#CC8100));
    background: -webkit-linear-gradient(top, #CCCC00, #CC8100);
    background: -moz-linear-gradient(top, #CCCC00, #CC8100);
    background: -ms-linear-gradient(top, #CCCC00, #CC8100);
    background: -o-linear-gradient(top, #CCCC00, #CC8100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #3B0E04;
    font-size:20px;
    font-family:Tahoma, Arial;
    font-weight:bold;
    text-decoration: none;     
    text-shadow: 1px -1px 1px #CCA34B;
    vertical-align: middle;
}

.prevButton:hover {   
   background: #3B0E04;
   color: #CCCC00;
   }
.prevButton:active {
   background: #5C541B;
   }


.nextButton{
    float:right;
    margin: 10px 0px 5px 0px;
    border: 1px solid #CCCC00;
    background: #D6C965;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCC00), to(#CC8100));
    background: -webkit-linear-gradient(top, #CCCC00, #CC8100);
    background: -moz-linear-gradient(top, #CCCC00, #CC8100);
    background: -ms-linear-gradient(top, #CCCC00, #CC8100);
    background: -o-linear-gradient(top, #CCCC00, #CC8100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #3B0E04;
    font-size:20px;
    font-family:Tahoma, Arial;
    font-weight:bold;
    text-decoration: none;
    text-shadow: 1px -1px 1px #CCA34B;
    vertical-align: middle;
}

.nextButton:hover {   
   background: #3B0E04;
   color: #CCCC00;
   }
.nextButton:active {
   background: #5C541B;
   }


.answerBox{    
    float:right;
    margin:10px 50px 10px 0px;
    background: black; 
    border-radius: 15px 0px;
    width:345px;
    height:412px;
    text-align:justify;
    color:#3B0E04;    
}

.answerBox p{
    margin:10px;
    text-align:justify;
}

.answer1{
    background:#AF79DB;
    width:370px;
    height:93px;
    margin:5px;
    border-radius: 15px 0px;
    padding:5px;
}
.answer1:hover{
    background-color: #7c549d;
    border-radius: 15px 0px;
    margin:5px;
}

.answer2{
    background:#a8b368;
    width:370px;
    height:93px;
    border-radius: 15px 0px;
    margin:5px;
    padding:5px;
}
.answer2:hover{
    background-color: #909b51;
    border-radius: 15px 0px;
    margin:5px;
}


.answer3{
    background:#b36c68;
    width:370px;
    height:93px;
    border-radius: 15px 0px;
    margin:5px;
    padding:5px;
}
.answer3:hover{
    background-color: #9d5652;
    border-radius: 15px 0px;
    margin:5px;
}
.answer4{
    background:#6BAB68;
    width:370px;
    height:93px;
    border-radius: 15px 0px;
    margin:5px;
    padding:5px;
}
.answer4:hover{
    background-color: #50804E;
    border-radius: 15px 0px;
    margin:5px;
}


/*Panels for Skipped, Review and Completed Questions*/

.panelWrapper{
    position:relative;
    margin-top:15px;
    float:right;
    width: 355px;
    height: 500px;
}

.panelWrapper h1{
    text-align: center;
    font-size: medium;
}

.legend{
    padding: 6px;
    height:10%;
    width:50%;
    background:black;
    border: 2px solid yellow;
    font-size:x-small;
}

.legend p{
    margin:3px 8px 3px 15px;
}

.progressbar{
    margin:17px;
    float:left;
    height: 330px;
    width: 60px;
    background: black;    
}

#timerWrapper{
    margin:15px;
    float:left;
    height: 330px;
    width: 40px;
    background:yellow;
}

.timerbar{
    margin:4px;
    height: 324px;
    width: 34px;
    background: -webkit-gradient(linear, left top, left bottom, from(#0AF25B), to(#CC1B00));
    background: -webkit-linear-gradient(top, #0AF25B, #CC1B00);
    background: -moz-linear-gradient(top, #0AF25B, #CC1B00);
    background: -ms-linear-gradient(top, #0AF25B, #CC1B00);
    background: -o-linear-gradient(top, #0AF25B, #CC1B00);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;          
}

.timerbar > span {
    background:black; 
    display: block;
}

.progQuestion{
    margin:-5px 0px -2px 10px;
    background:grey;
    width:36px;
    border:1px yellow;
    border-radius: 15px 0px;
    text-align:center;
}
.progQuestion:hover{
    background:black;
    border:2px green;
    border-radius: 15px 0px;
}

.completeTest{
    position:absolute;
    bottom:10%;
    left:10%;
    margin: 2px 0px 0px 0px;
    border: 1px solid #CCCC00;
    background: #D6C965;
    background: -webkit-gradient(linear, left top, left bottom, from(#CCCC00), to(#CC8100));
    background: -webkit-linear-gradient(top, #CCCC00, #CC8100);
    background: -moz-linear-gradient(top, #CCCC00, #CC8100);
    background: -ms-linear-gradient(top, #CCCC00, #CC8100);
    background: -o-linear-gradient(top, #CCCC00, #CC8100);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #3B0E04;
    font-size:16px;
    font-family:Tahoma, Arial;
    font-weight:bold;
    text-decoration: none;     
    text-shadow: 1px -1px 1px #CCA34B;
    vertical-align: middle;
}

.completeTest:hover {   
   background: #3B0E04;
   color: #CCCC00;
   }
.completeTest:active {
   background: #5C541B;
   }

.tableskin {
    width:65%; 
    margin-top:30px;
    float:left;
}

.tableskin td{
	vertical-align:middle;
	background:-o-linear-gradient(bottom, #7f5c11 5%, #ffffaa 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f5c11), color-stop(1, #ffffaa) ); 
	background:-moz-linear-gradient( center top, #7f5c11 5%, #ffffaa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f5c11", endColorstr="#ffffaa");	
    background: -o-linear-gradient(top,#7f5c11,ffffaa);
	background-color:#7f5c11;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Comic Sans MS;
	font-weight:normal;
	color:#1c1202;
}


.tableskin th{
	background:-o-linear-gradient(bottom, #4c2c0f 5%, #bc7100 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c2c0f), color-stop(1, #bc7100) );
	background:-moz-linear-gradient( center top, #4c2c0f 5%, #bc7100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c2c0f", endColorstr="#bc7100");	background: -o-linear-gradient(top,#4c2c0f,bc7100);
	background-color:#4c2c0f;
	border:1px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffaa;
}


.finalScore{    
    float:left;
    margin:30px;     
    background:-o-linear-gradient(bottom, #7f5c11 5%, #ffffaa 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f5c11), color-stop(1, #ffffaa) ); 
	background:-moz-linear-gradient( center top, #7f5c11 5%, #ffffaa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f5c11", endColorstr="#ffffaa");	
    background: -o-linear-gradient(top,#7f5c11,ffffaa);
	background-color:#7f5c11;
	border:1px solid #000000;
	border-width:1px 1px 1px 1px;
    border-radius:15px;
    width:20%;
    height:5%;
    text-align:center;  
    font-size:16px;
    font-weight:bold;  
    color:#1c1202;
    line-height:30px;
    padding:0px;
}


/*alerts*/

#pandaDiv{    
    position:fixed;
    top:150px;
    left:155px;    
	background: rgba(0,0,0,0);
    z-index: 99999;
}

.alertWindow {
	position: fixed;
    text-align: left;  
    font-size:20px;
    color:  #1c1202;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 3;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.alertWindow:target {
	opacity:1;
	pointer-events: auto;    
}

.alertWindow > div{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #DEDB7C);
    background: -webkit-linear-gradient(#fff, #DEDB7C);
    background: -o-linear-gradient(#fff, #DEDB7C);
}

.close {
	background: #BDA809;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 45px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }