html{
    height: 100%;
    background: -webkit-linear-gradient(top ,#050505, #1C1C1C);
    background: -o-linear-gradient(top, #050505, #1C1C1C);
    background: -moz-linear-gradient(top, #050505, #1C1C1C);
    background: -ms-linear-gradient(top, #050505, #1C1C1C);    
}

body {
	font-family: Tahoma, Arial; 
	margin-left:8%; 
    margin-top: 2%;	  
	font-size: 14px;  
    overflow:hidden auto;
    color:yellow;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Tahoma, Arial;
	font-weight: 300;
    color:#B4B8BF;
}

a {
    margin:0px;
    padding:0px;
	color: #0099CC; 
    outline: 0;
}

a:hover, a:focus {    
	text-decoration: none;
	color: #333333;
}
a:active, a:focus {
	color: #0099CC;
	border: none;
}

.guideline{
    width:700px;
    font-size:small;
    text-wrap:normal;
}

.testWrapper{
    width:1220px;
    height:700px;
}

/*Main Content - Questions and Answers*/

.questionAnswerWrapper{
    float:left;
    width: 810px;
    height: 440px;   
    box-shadow: rgba(0,12,35,.75) 0px 0px 25px;
    font-size:16px;
}

.questionBox{
    float:left;
    background: #292929; 
    border-radius: 15px 15px;
    width:400px;
    height:440px;   
    color:#ABACB3;
    text-shadow:2px 2px #0F0E1C; 
    margin-right:2px;
}

.questionBox p{
    margin:10px;
    text-align:justify;
}

.answerBox{    
    float:right;
    background: black; 
    border-radius: 15px 0px;
    width:405px;
    height:440px;
    text-align:center;
    color:#5C1506;    
}

.answerBox p{
    margin:10px;
    text-align:justify;
}

.answer1{
    background:#9168b3;
    width:400px;
    height:105px;
    margin:4px;
    border-radius: 15px 0px;
}
.answer1:hover{
    background-color: #7c549d;
    border-radius: 15px 0px;
    margin:4px;
}

.answer2{
    background:#a8b368;
    width:400px;
    height:105px;
    border-radius: 15px 0px;
    margin:4px;
}
.answer2:hover{
    background-color: #909b51;
    border-radius: 15px 0px;
    margin:4px;
}


.answer3{
    background:#b36c68;
    width:400px;
    height:105px;
    border-radius: 15px 0px;
    margin:4px;
}
.answer3:hover{
    background-color: #9d5652;
    border-radius: 15px 0px;
    margin:4px;
}
.answer4{
    background:#6BAB68;
    width:400px;
    height:105px;
    border-radius: 15px 0px;
    margin:4px;
}
.answer4:hover{
    background-color: #50804E;
    border-radius: 15px 0px;
    margin:4px;
}


/*Panels for Skipped, Review and Completed Questions*/

.panelWrapper{
    float:right;
    width: 350px;
    height: 500px;
}

.panelWrapper h1{
    text-align: center;
    font-size: medium;
}

.skipBox{
    width:200px;
    height:100px;
    margin-top:10px;
    background: black;
    border: 1px solid yellow;
    border-radius: 5px 5px;
}

.reviewBox{
    margin-top: 50px;
    width:200px;
    height:100px;
    background: black;
    border: 1px solid yellow;
    border-radius: 5px 5px;
}

.completeBox{
    margin-top: 50px;
    width:200px;
    height:100px;
    background: black;
    border: 1px solid yellow;
    border-radius: 5px 5px;
}
